# Dependencies
/node_modules

# Build-output
/dist
/build
/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración local
.env
.env*.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Firebase
# Excluir claves de servicio y configuraciones locales de Firebase
serviceAccountKey.json
*.secret.local

# Reportes generados (opcional, si no se quieren en el repo)
/reports
